.button
  cursor: pointer
  &--primary
    box-shadow: 0 7px 18px rgba(255, 126, 0, 0.51)
    border: none
    border-radius: 38px
    background-color: $primary
    background-image: linear-gradient(to top, #f47b2a 0%, #f47b2a 5%, #f9a241 100%)
    text-shadow: 0 1px 6px rgba(164, 72, 0, 0.5)
    color: $light
    font-family: "Gilroy-ExtraBold"
    font-size: 1.21rem
    font-weight: 400
  &--play
    box-shadow: 0 7px 18px rgba(255, 126, 0, 0.51)
    background-color: #f79539
    background-image: linear-gradient(to top, #f47b2a 0%, #f47b2a 5%, #f9a241 100%)
    border: none
    border-radius: 50%
    padding: 1.95rem 1.91rem 1.75rem 2.49rem


.title
  font-family: 'Better Together'

.heading
  font-family: 'Lifehack Sans-Medium'

.simple-title
  color: $darkblue
  font-family: 'Gilroy-ExtraBold'
  font-size: 2.14rem
  font-weight: 400
  text-align: center

.elimore
  &_show, &_hide
    display: block
    color: $blue
    font-family: 'Gilroy-Regular'
    font-size: 0.93rem
    font-weight: 400
    text-decoration-style: dotted
    margin-top: 3.43rem

.label  
  font-size: 1.2rem
  font-family: 'Gilroy-Regular'

.input
  padding: 5px 0
  font-size: 1.1rem
  outline: none
  border: 1px solid $lightgrey
  font-family: 'Gilroy-Light'

.policy
  &__label
    font-family: 'Gilroy-Regular'

.input
  background-color: transparent
  border: none
  border-bottom: 1px solid rgba($dark, 0.15)
  font-size: 1.286rem
  // color: $light
  padding: 0.4rem 0
  &::placeholder
    // color: $light
  &::-moz-placeholder
    opacity: 1
  &--dark
    color: $dark
    border-bottom: 1px solid rgba($dark, 0.15)
    &::placeholder
      color: $dark
    &::-moz-placeholder
      opacity: 1

.policy
  &__checkbox
    opacity: 0
    visibility: hidden
    &:checked +
      .policy__label
        &::before
          background: $primary url('../img/check.svg') no-repeat center / 0.8rem    
  &__label
    display: flex
    align-items: center
    font-size: 1.143rem
    div
      &.invalid
        font-size: 1rem
        margin-top: 2.7rem
    &::before
      content: ''
      width: 18px
      height: 18px
      border: 1px solid $primary
      border-radius: 1px
      cursor: pointer
      margin-right: 0.64rem
    &--center
      justify-content: center

div
  &.invalid
    font-family: 'Gilroy-Regular'
    margin-top: 3.7rem
    // margin-top: 3.8rem
    position: absolute
    color: tomato
      

input
  &.invalid
    border-bottom: 1px solid tomato
    // &:nth-child(3)