$darkblue: #363b53
$darkred: #34241a
$light: #ffffff
$primary: #ff7e00
$orange: #f5802d
$brightorange: #f5832e
$dark: #17262f
$grey: #dddddd
$lightgrey: #737993
$black: #000000
$blue: #009bfe
$lightblue: #d3f6ff
$paleblue: #ebfbff
