.comingtours
  padding: 5.16rem 0 6.3rem  
  &__tours
    margin: auto
  &__simple-title
    margin-bottom: 3.54rem
  &__container
    max-width: 1380px
  &__image
    max-width: 39.64rem
  &__photo
    margin-right: 7.47rem
  &__star
    margin-bottom: 0.67rem
    margin-top: 2.04rem
    display: flex
    align-items: center
    justify-content: center
    &::after, &::before
      content: ''
      width: 37px
      height: 1px
      background-color: $grey
    &::after
      margin-left: 8px
    &::before
      margin-right: 8px
    &--hide1, &--hide2, &--hide3
      display: none
  &__info-text
    color: $black
    font-family: 'Gilroy-Regular'
    font-size: 1rem
    font-weight: 600
    line-height: 1.4
    letter-spacing: 0.1px
    &--hide1, &--hide2, &--hide3
      display: none
  &__text
    color: $dark
    font-family: 'Gilroy-Regular'
    font-size: 0.86rem
    font-weight: 600
    text-transform: uppercase
    letter-spacing: 1.2px
  &__what-else
    display: block
    color: $blue
    font-family: 'Gilroy-Regular'
    font-size: 0.93rem
    font-weight: 400
    text-decoration-style: dotted  
    margin-top: 2.14rem
    margin-bottom: 2.81rem
  &__price
    color: $orange
    font-family: 'Gilroy-ExtraBold'
    font-weight: 400
    margin-top: 1.2rem
    margin-bottom: 0.96rem
    &-amount
      font-size: 3.21rem
    &-rub
      font-size: 1.71rem
  &__time
    font-family: 'Gilroy-Regular'
    font-size: 1rem
    font-weight: 400
    color: $orange
  &__button
    display: block
    padding: 2rem 1.6rem
    margin: auto
    margin-top: 5.71rem
    margin-bottom: 2rem
  &__sliderwrap
    position: relative


.tours
  display: flex
  justify-content: space-between
  max-width: 50.71rem

.tour
  cursor: pointer
  &--active
    &::after
      content: ''
      width: 100%
      height: 3px
      background-color: $brightorange
      display: block
      margin-top: 1.23rem
  
.season, .place
  color: $darkblue
  font-size: 1rem

.season  
  font-family: 'Gilroy-ExtraBold'
  font-weight: 700
  &::after
    content: '|'
    margin-left: 7px
    margin-right: 5px


.place  
  font-family: 'Gilroy-Regular'
  font-weight: 400

.sliderwrap
  max-width: 98.57rem
  margin: auto

.tourswiper
  &-container
    max-width: 81.43rem
    &::before
      content: ''
      display: block
      margin-bottom: 5.71rem
      width: 100%
      height: 1px
      background-color: $darkblue
      opacity: 0.2
  &__block
    display: flex
  &-button
    &-prev, &-next
      background-size: 50px
      width: 50px
      height: 50px
      bottom: 0
      z-index: 199
      top: 47%
      transform: translateY(-50%)
      &::after
        display: none
    &-prev
      background: url('../img/tours/prev.svg') no-repeat center
      left: 0
    &-next
      background: url('../img/tours/next.svg') no-repeat center
      right: 0

.info
  max-width: 29.3rem
  text-align: center
  padding: 2.71rem 0

